extends layout

block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                h1.display-4.m-b-2 Overall Analytics

                form(method='GET' action='/overallRevisionsMost' id = 'most' name = 'most')
                    div.form-group
                        label(for='numOfRevision') Number of articles with highest and lowest revisions to display:
                        input#numOfRevision(type='number' min='1' max='100' value='3')
                    button.btn.btn-primary(type='submit') Submit

                br

                table
                    tr
                        td Articles with the most revisions:
                        td
                            ul
                                li=overallRevisionsMost
                    tr
                        td Articles with the least revisions:
                        td
                            ul
                                li=overallRevisionsMin
                    tr
                        td Articles edited by largest groups of registered users:
                        td
                            ul
                                li=mostDistinct
                    tr
                        td Articles edited by smallest groups of registered users:
                        td
                            ul
                                li=leastDistinct
                    tr
                        td Top 3 articles with the longest history:
                        td
                            ul
                                li=longestArticle
                    tr
                        td Article with the shortest history:
                        td
                            ul
                                li=shortestArticle

                a(class="chart" href='/pieChart' id='pie') Pie Chart
                br
                a(class="chart" href='/barChart' id='bar') Bar Charts
                div#Chart